<%= form_for(@artist) do |f| %>
  <% @artist.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <p>アーティスト名 [必須]</p>
  <%= f.text_field :name, placeholder:"(例)The Rolling Stones", class: "form-control" %>
  <p>別の読み方(英語、読み仮名、愛称など、カンマ区切り複数)</p>
  <%= f.text_field :othername, placeholder:"(例)ローリングストーンズ,ストーンズ", class: "form-control" %>
  <p>タグ(ジャンルなど)、カンマ区切り複数</p>
  <%= f.text_field :tags, placeholder:"(例)ロック,60s,ブルース", class: "form-control" %>
  <%= f.submit "送信", class:"btn btn-secondary" %>
<% end %>