<h4><%= @artist.name %></h4>
<% if current_user %>
  <%= link_to "編集", edit_artist_path %>
  <%= link_to "アルバムを追加", new_artist_album_path(@artist) %>
  <%= link_to "このアーティストのブログ/レビューを投稿", "/artists/#{@artist.id}/new" %>
<% else %>
  <small>登録/ログインするとレビュー投稿やアーティスト追加ができます。
<% end %>

<br />
アルバム(<%=  @artist.albums.count %>)

<% @artist.albums.each do |album| %>
  <h5><%= link_to album.name, artist_album_path(@artist, album) %></h5>
  レビュー数:<%= album.posts.count %><br />
<% end %>

<br />
<br />
このアーティストについてのレビュー