<% set_meta_tags title: "#{@artist.name}|オトハブ"  %>
<div class="row">
  <a href="/artists"><p>アーティスト</p></a>
  <div class="col s6 l4 center">
    <% if @artist.imagelink %>
      <img class="materialboxed" src="<%= @artist.imagelink %>" style="width: 80%;">
    <% else %>
      <img src="/assets/noimage.png" style="width: 80%;">
    <% end %>
  </div>
  <div class="col s6 l4">
    <div>
      <!-- a href="/artists"><p class="green-text">アーティスト</p></a-->
      <h5><%= @artist.name %></h5>
      <% if current_user %>
        <div id="follow-artist-<%= @artist.id %>">
          <%= render partial: "follow", locals: { artist: @artist } %>
        </div>
      <% end %>
      <% if @artist.average_score.nan? %>
        <% average_score = "-" %>
      <% else %>
        <% average_score = @artist.average_score %>
      <% end %>
      <p>Score: <%= average_score %>/10 &emsp;
        <% if current_user %>
          <%= link_to "編集", edit_artist_path %>
        <% end %>
      </p>
    </div>
    <div>
			<!-- Modal Trigger -->
			<a class="modal-trigger" href="#modal1" style="color: gray;"><i class="material-icons">info_outline</i></a>

			<!-- Modal Structure -->
			<div id="modal1" class="modal bottom-sheet">
				<div class="modal-content">
					<% if @artist.apple %>
            <% if @artist.apple.length != 0  %>
              <%= link_to "AppleMusic", @artist.apple, class: "btn-small pink lighten-2", style: "margin: 5px;" %>
            <% end %>
          <% end %>
          <% if @artist.spotify %>
            <% if @artist.spotify.length != 0  %>
              <%= link_to "Spotify", @artist.spotify, class: "btn-small light-green-text grey darken-3", style: "margin: 5px" %>
            <% end %>
          <% end %>
          <% if @artist.bandcamp %>
            <% if @artist.bandcamp.length != 0 %>
              <%= link_to "Bandcamp", @artist.bandcamp, class: "btn-small light-blue darken-3", style: "margin: 5px" %>
            <% end %>
          <% end %>
          <% if @artist.wikipedia %>
            <% if @artist.wikipedia.length != 0 %>
              <%= link_to "Wiki", @artist.wikipedia, class: "btn-small blue-grey lighten-5 black-text" %>
            <% end %>
          <% end %>
				</div>
			</div>
		</div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col-12">
      <h6>アルバム(<%=  @artist.albums.count %>)
        <% if current_user %>
          <small> &emsp; <%= link_to "追加する", new_artist_album_path(@artist) %></small>
        <% end %>
      </h6>
      <div class="section">
        <div class="divider"></div>
        <% @artist.albums.each do |album| %>
          <div class="section">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s4">
                <% if album.imagelink %>
                  <% if album.imagelink.length != 0 %>
                      <img src="<%= album.imagelink %>" style="width: 80%;">
                  <% else %>
                    <img src="/assets/noimage.png" style="width: 80%;">
                  <% end %>
                <% else %>
                  <img src="/assets/noimage.png" style="width: 80%;">
                <% end %>
              </div>
              <div class="col s8">
                <h6>
                  <a href=<%=artist_album_path(@artist, album)%> class="collection-item">
                  <%= album.name %>
                  </a>
                </h6>
                <% if album.average_score.nan? %>
                  <% average_score = "-" %>
                <% else %>
                  <% average_score = album.average_score %>
                <% end %>
                <small>投稿数: <%= album.posts.count %> &emsp; スコア: <%= average_score %>/10</small>
              </div>
            </div>
          </div>
          <div class="divider"></div>
        <% end %>
      </div>
    </div>
    <br />
    <div class="col-12">
      <h6>このアーティストの投稿 &emsp; <%= link_to "投稿する", "/artists/#{@artist.id}/new", class: "btn-small" %></h6>
        <% @artist.posts.each do |post| %>
          <%= render partial: "/homes/card", locals: { post: post } %>
        <% end %>
    </div>
  </div>
</div>