<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>

<% set_meta_tags title: "#{@user.username} USER PAGE|オトハブ"  %>

<h5 class="center-align"><%= @user.username %></h5>
<div class="center">
  <% if current_user %>
    <% if current_user.id == @user.id %>
      <%= link_to 'アカウント設定', edit_user_registration_path %>
      <%= link_to "プロフィール編集", "/users/profile_edit" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <br />
    <% else %>
      <div id="follow-user-<%= @user.id %>">
        <%= render partial: "follow", locals: { user: @user } %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="center">
  <% if @user.blog_url %>
    <% if @user.blog_url.length != 0 %>
      <br />
      <a href="<%= @user.blog_url %>" class="btn-small red">ブログを見る</a>
    <% end %>
  <% end %>
</div>
<br />
<div class="divider"></div>
<p class="center"><%= @user.profile %></p>
<div class="center">
<% if @user.twitter %>
  <% if @user.twitter.length != 0 %>
    <a href="<%= "https://twitter.com/#{@user.twitter.gsub("@","")}" %>" class="btn-small blue">Twitter</a>
  <% end %>
<% end %>
<% if @user.apple %>
  <% if @user.apple.length != 0 %>
    <a href="<%= "https://music.apple.com/profile/#{@user.apple.gsub("@","")}" %>" class="btn-small pink lighten-2">AppleMusic</a>
  <% end %>
<% end %>
<% if @user.spotify %>
  <% if @user.spotify.length != 0 %>
    <a href="<%= @user.spotify %>" class="btn-small light-green-text grey darken-3">Spotify</a>
  <% end %>
<% end %>
</div>
<br />
<div class="divider"></div>
<div class="row">
  <% if current_user %>
    <% if current_user.id == @user.id %>
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#test1">TL</a></li>
          <li class="tab col s3"><a href="#test2">後で読む</a></li>
          <li class="tab col s3"><a href="#test3">評価済み</a></li>
          <li class="tab col s3"><a href="#test4">投稿</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <% tl_posts = Post.where(user_id: current_user.following_user_ids).or(Post.where(artist_id: current_user.following_artist_ids).or(Post.where(album_id: current_user.following_album_ids).or(Post.where(user_id: current_user.id)))) %>
        <% tl_posts = tl_posts.order(created_at: :desc) %>
        <% tl_posts.each do |post| %>
          <%= render partial: "card", locals: { post: post, tab: 1 } %>
        <% end %>
      </div>
      <div id="test2" class="col s12">
        <% Stock.where(user_id: current_user.id).order(created_at: :desc).each do |stock| %>
          <% post = stock.post %>
          <%= render partial: "card", locals: { post: post, tab: 2 } %>
        <% end %>
      </div>
      <div id="test3" class="col s12">
        <% Like.where(user_id: current_user.id).order(created_at: :desc).each do |like| %>
          <% post = like.post %>
          <%= render partial: "card", locals: { post: post, tab: 3 } %>
        <% end %>
      </div>
    <% else %>
      <p class="center">投稿一覧</p>
    <% end %>
  <% else %>
      <p class="center">投稿一覧</p>
  <% end %>
  <div id="test4" class="col s12">
    <% @user.posts.order(point: "DESC").each do |post| %>
      <%= render partial: "card", locals: { post: post, tab: 4 } %>
    <% end %>
  </div>
</div>