<div class="row">
  <%= form_tag("/albums/search",:method => 'get') do %>
    <div class="col s10">
      <%= text_field_tag :word, "" ,placeholder: "(例)Abbey Road", value: @word %>
    </div>
    <div class="col s2">
      <%= submit_tag '検索', :name => nil, class:"btn right" %>
    </div>
  <% end %>
</div>
<% @albums.each do |album| %>
  <% if album.average_score.nan? %>
      <% average_score = "-" %>
  <% else %>
      <% average_score = album.average_score %>
  <% end %>
  <% artist = album.artist %>
  <div class="section">
    <div class="row" style="margin-bottom: 0px;">
      <div class="col s4">
        <div class="center">
          <% if album.imagelink %>
            <% if album.imagelink.length != 0 %>
                  <img class="artist-img" src="<%= album.imagelink %>">
            <% else %>
              <img class="artist-img" src="/assets/noimage.png">
            <% end %>
          <% else %>
            <img class="artist-img" src="/assets/noimage.png">
          <% end %>
        </div>
      </div>
      <div class="col s8">
        <h6><%= link_to album.name, artist_album_path(artist, album) %> / <%= link_to artist.name, artist %></h6><small>記事数: <%= album.posts.count %> &nbsp; Score: <%= average_score %>/10</small>
      </div>
    </div>
  </div>
  <div class="divider"></div>
<% end %>
<div class="col s12">
  <div class="center">
    <%= paginate @albums %>
  </div>
</div>