<h5><%= link_to @artist.name, artist_path(@artist) %> のアルバム一覧</h5>

<div class="section">
	<div class="divider"></div>
	<% @artist.albums.each do |album| %>
		<div class="section">
		<h6>
			<a href=<%=artist_album_path(@artist, album)%> class="collection-item">
			<%= album.name %>
			</a>
		</h6>
		<% if album.average_score.nan? %>
			<% average_score = "-" %>
		<% else %>
			<% average_score = album.average_score %>
		<% end %>
		<small>レビュー数: <%= album.posts.count %> &emsp; Score: <%= average_score %>/10</small>
		</div>
		<div class="divider"></div>
	<% end %>
</div>