<h5><%= @album.name %>/<%= link_to @artist.name, "/artists/#{@artist.id}" %></h5>
<% if current_user %>
  <div id="follow-album-<%= @album.id %>">
    <%= render partial: "follow", locals: { album: @album } %>
  </div>
<% end %>
<% if @album.average_score.nan? %>
	<% average_score = "-" %>
<% else %>
	<% average_score = @album.average_score %>
<% end %>
<p>Score: <%= average_score %>/10 &emsp;
<% if current_user %>
	<%= link_to "編集", "/artists/#{@artist.id}/albums/#{@album.id}/edit" %>
<% end %>
</p>
<% if @album.apple %>
	<% if @album.apple.length != 0 %>
		<iframe allow="autoplay *; encrypted-media *;" frameborder="0" height=300" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="<%= @album.apple.sub("music.apple.com","embed.music.apple.com") %>"></iframe>
	<% end %>
<% end %>
<br />
<% if @album.spotify %>
	<% if @album.spotify.length != 0  %>
		<%= link_to "Spotify", @album.spotify, class: "btn-small light-green-text grey darken-3" %>
	<% end %>
<% end %>
<% if @album.bandcamp %>
	<% if @album.bandcamp.length != 0 %>
		<%= link_to "Bandcamp", @album.bandcamp, class: "btn-small light-blue darken-3" %>
	<% end %>
<% end %>
<% if @album.wikipedia %>
	<% if @album.wikipedia.length != 0 %>
		<%= link_to "Wiki", @album.wikipedia, class: "btn-small blue-grey lighten-5 black-text" %>
	<% end %>
<% end %>
<br />
<br />
<div class="divider"></div>

<h6>このアルバムの投稿 &emsp;<%= link_to "投稿する", "/artists/#{@artist.id}/albums/#{@album.id}/new", class: "btn-small" %></h6>
<div class="row">
	<% @posts.each do |post| %>
		<%= render partial: "card", locals: { post: post } %>
	<% end %>
</div>