
<div class="card">
	<div class="card-content">
		<p><% if post.album %><%= link_to post.album.name, artist_album_path(post.artist.id,post.album.id) %><br />/<% end %><%= link_to post.artist.name, artist_path(post.artist.id) %></p>
		<% if post.score %>
			<div class="right-align">Score: <%= post.score %>/10</div>
		<% else %>
		<% end %>
		<div class="card-title">
			<a href="<%=  post.post_path %>">
				<p class="black-text lighten-4">
					<%= post.summary %>
				</p>
			</a>
		</div>
		<div class="right-align">
			<% if current_user %>
				<% if current_user.id == post.user.id %>
					<a href=<%=  post.post_path + "/edit" %>>編集</a><br/>
				<% end %>
			<% end %>
			Reviewed by <strong><a href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>
		</div>
	</div>
	<div class="card-action bitsmall">
		<a></a>
		<span>
			<% if current_user %>
				<div id="like-<%= post.id %>" style="float:left;">
					<%= render partial: "like", locals: { post: post } %>
				</div>
				<div id="stock-<%= post.id %>" style="float:left;">
					<%= render partial: "stock", locals: { post: post } %>
				</div>
			<% end %>
			<% if post.comment_flg or post.content %>
				<div style="float:left;">
					<% if post.content.length != 0 %>
						<a href=<%=  post.post_path %> class="green-text">本文/コメント</a>
					<% elsif post.comment_flg %>
						<a href=<%=  post.post_path %>>コメント</a>
					<% end %>
				</div>
			<% end %>
			<% if post.blog_url.length != 0 %>
				<div style="float:left;">
					<a href="<%= post.blog_url %>" class="red-text">ブログを読む</a>
				</div>
			<% end %>
		</span>
	</div>
</div>