<div class="input-field col s6">
  <%= form_tag("/posts/search",:method => 'get') do %>
    <%= text_field_tag :word, "" ,placeholder: "(例)Beatles", value: "#{@word}" %>
    <%= submit_tag '検索', :name => nil, class:"btn right" %>
  <% end %>
</div>
<div class="row"> 
  <div class="col s12">
    <% @posts.each do |post| %>
      <div>
      <%= render partial: "card", locals: { post: post } %>
      </div>
    <% end %>
  <div class="col s12">
    <div class="center">
      <%= paginate @posts %>
    </div>
  </div>
</div>