<script>
	$(document).ready(function() {
    	$('textarea#textarea2').characterCounter();
  	});
</script>
<h5>記事編集</h5>

<% if @album %>
	<%= @album.name %> /
	<% update_path = "/artists/#{@artist.id}/albums/#{@album.id}/#{@post.id}/update" %>
	<% destroy_path = "/artists/#{@artist.id}/albums/#{@album.id}/#{@post.id}/destroy" %>
<% else %>
	<% update_path = "/artists/#{@artist.id}/#{@post.id}/update" %>
	<% destroy_path = "/artists/#{@artist.id}/#{@post.id}/destroy" %>
<% end %>
<%= @artist.name %>

<%= form_tag(update_path, method: :post) do %>
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
	<p>サマリー (140字以内) [必須]</p>
	<div class="input-field col s6">
		<textarea name="summary" placeholder="(例)このアルバムで特筆すべきはビルワイマンの生み出す、唯一無二のグルーブである" id="textarea2" class="materialize-textarea" data-length="140"><%= @post.summary %></textarea>
	</div>
	<p>ブログURL(任意)</p>
	<textarea name="blog_url" placeholder="(例)http://www...." class="materialize-textarea"><%= @post.blog_url %></textarea>
	<br/>
	<p>得点(10点満点、任意)</p>
	<select name="score" class="browser-default">
		<option value="nil">-</option>
		<% for num in 0..10 do %>
			<% if @post.score == num %>
				<option value="<%= num %>" selected><%= num %></option>
			<% else %>
				<option value="<%= num %>"><%= num %></option>
			<% end %>
		<% end %>
	</select>
	<p>レビュー本文(任意、100字以上)</p>
	<textarea name="content" class="materialize-textarea"><%= @post.content %></textarea>
	<input type="hidden" name="public" value="true">
	<input type="hidden" name="comment_flg" value="true">
	<input type="hidden" name="user_id" value="<%= current_user.id %>">
	<% if @album %>
		<input type="hidden" name="album_id" value="<%= @album.id %>">
	<% end %>
	<input type="hidden" name="artist_id" value="<%= @artist.id %>">
	<input type="submit" class="btn" value="送信">
<% end %>
<br />
<br />
<%= link_to "投稿を削除", destroy_path, method: :post, class: "btn-small red", data: { confirm: "投稿を削除しますか？(投稿内容、コメントは元に戻せません)" } %>