 <div class="row">
  <% if @album %>
    <h6><%= link_to @post.album.name, "/artists/#{@post.artist.id}/albums/#{@post.album.id}" %> / <%= link_to @post.artist.name, "/artists/#{@post.artist.id}" %></h6>
     <% set_meta_tags title: "#{@post.album.name}/#{@post.artist.name} Reviewed by #{@post.user.username}|オトハブ"  %>
  <% else %>
    <h6><%= link_to @post.artist.name, "/artists/#{@post.artist.id}" %></h6>
    <% set_meta_tags title: "#{@post.artist.name} Reviewed by #{@post.user.username}|オトハブ"  %>
  <% end %>

  <div class="col s12">
    <% if @post.score %>
      <span class="right">Score: <%= @post.score %>/10</span>
    <% else %>
      <span class="blue-grey-text right">Score: -/10</span>
    <% end %> 
  </div>
  <br />
  <h5><%= @post.summary %></h5>
  <div class="col s12">
    <% if current_user %>
      <% if current_user.id == @post.user.id %>
        <% if @album %>
          <a href=<%= "/artists/#{@artist.id}/albums/#{@album.id}/#{@post.id}/edit" %> class="right">編集する</a>
        <% else %>
          <a href=<%= "/artists/#{@artist.id}/#{@post.id}/edit" %> class="right">編集する</a>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col s12">
    <h6 class="right">Reviewed by <%= link_to @post.user.username, "/users/#{@post.user.id}" %></h6>
  </div>
  <div class="col s12">
    <div class="divider"></div>
    <p><%= raw Rinku.auto_link(simple_format(@post.content), :all, 'target="_blank"') %></p>
    <br />
    <% if current_user %>
      <div id="likebtn-<%= @post.id %>" style="float:left;">
        <%= render partial: "likebtn", locals: { post: @post } %>
      </div>
      <div style="float:left;">
        &nbsp; &nbsp;
      </div>
      <div id="stockbtn-<%= @post.id %>" style="float:left;" style="mergin-left">
        <%= render partial: "stockbtn", locals: { post: @post } %>
      </div>
      <div style="float:left;">
        &nbsp; &nbsp;
      </div>
    <% end %>

    <% if @post.blog_url.length != 0 %>
      <a href="<%= @post.blog_url %>" class="red btn-small">ブログを読む</a>
    <% end %>
    <br />
    <br />
    <% if @post.comment_flg %>
      <p>コメント欄</p>
      <div class="divider"></div>
      <% @post.comments.each do |comment| %>
        <div class="row">
          <div class="col s12">
            <p><%= comment.text %></p>
          </div>
          <div class="col s12">
            <small class="right">Commented by <%= link_to comment.user.username, "/users/#{comment.user.id}" %></small>
          </div>
        </div>
        <div class="divider"></div>
      <% end %>
      <br />
      <% if @album %>
        <% comment_path = "/artists/#{@post.artist.id}/albums/#{@post.album.id}/#{@post.id}/comment" %>
      <% else %>
        <% comment_path = "/artists/#{@post.artist.id}/#{@post.id}/comment" %>
      <% end %>
      <%= form_tag(comment_path) do %>
        <textarea name="text" class="materialize-textarea" placeholder="コメント"></textarea>
        <br/>
        <input type="submit" value="コメントを投稿" class="btn">
      <% end %>
    <% end %>
  </div>
</div>