<!DOCTYPE html>
<!-- CSS  -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  function goBack() {
    window.history.back();
  }
  function reLoad() {
    window.location.reload();
  }
</script>

<html>
  <head>
    <title>オトハブ</title>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
  body {
    word-break: break-all;
  }
  .page-footer {
    margin-top: 30px;
  }
  .card .card-content {
    padding-top: 8px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 14px;
  }
  .card .card-action {
    padding: 5px 10px;
  }
  .card .card-content .card-title {
    margin-bottom: 1px;
    line-height: 18px;
  }
  .card .card-title {
    font-size: 17px;
}
  .section {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  .card .card-action a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin-right: 14px;
  }
  .dropdown-content li > a, .dropdown-content li > span {
    font-size: 13px;
    color: #00C853;
    display: block;
    line-height: 20px;
    padding: 14px 16px;
  }
  .mini-btn {
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
  }
  </style>
  <script>
    $(".dropdown-trigger").dropdown();
  </script>
  <body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href='/'>TOP</a></li>
        <li><a href='/artists'>アーティスト</a></li>
        <li><a href="/albums">アルバム</a></li>
        <li><a href="/posts">新着投稿</a></li>
        <% if user_signed_in? %>
          <li class="divider"></li>
          <li><a href="/users/<%= current_user.id %>" class="orange-text">マイページ</a></li>
        <% else %>
          <li class="divider"></li>
          <li><a href="/users/sign_in">ログイン</a></li>
        <% end %>
      </ul>
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo left pl-1">オトハブ</a>
          <ul class="right">
            <% if user_signed_in? %>
              <li><strong><%= link_to current_user.username, "/users/#{current_user.id}" %></strong></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
            <li><a class="dropdown-trigger" data-target="dropdown1">MENU<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br />
      <div class="row">
        <br />
        <button onclick="goBack()" class="btn grey left">戻る</button>
        <input type="button" value="再読み込み" class="btn grey right" onclick="reLoad()" />
      </div>
    </div>
    
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l2 s12">
              <a class="grey-text text-lighten-3" href="/aboutus">使い方</a>
              <a class="grey-text text-lighten-3" href="/terms">利用規約</a>
              <a class="grey-text text-lighten-3" href="/contact">お問い合わせ</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 オトハブ.
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function(){
    $('select').formSelect();
    $(".dropdown-trigger").dropdown();
  });
  $(function(){
    $("#input-text").on("keyup", function() {
      let countNum = String($(this).val().length);
      $("#counter").text(countNum + "文字");
    });
  }); 
  $(document).on('touchend','.dropdown-content li a',function(){
      var href = $(this).attr('href');
      window.location.href = href;

      return false;
  });
</script>
